:root {
    --color-one: #0D47A1;

}

body {
    background-color: #F5F5F5;
    font-family: 'Arial', sans-serif;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    background-color: #5B5B5B;
    height: 1px;
    width: 100px;

}

.btn {
    border-radius: 12px;
    background-color: var(--color-one);
    color: #F5F5F5 !important;
    padding: 10px 15px;
}

.btn:hover {
    color: var(--color-one) !important;
    background-color: #F5F5F5;
}